* {
  font-family: "Press Start 2P", cursive;
}

body {
  background: black;
  color: white;
}

.timer {
  text-align: center;
}

.timer-wrapper {
  border: 10px solid white;
  font-size: 5.5em;
  padding: 0.5em;
  margin: 0.5em;
  position: relative;
}

.timer-drain {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  color: black;
  background: white;
  mix-blend-mode: difference;
  transition: all 100ms ease;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
